<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>New Application</h1>
      <hr/>
      <form>
        <fieldset class="form-group">
          <label class="control-label">Application</label>
          <select class="form-control"></select>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control"/>
        </fieldset>
      </form>
    </div>
  </div>
</div>